* 
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter';

}

body 
{
  background: #f3f4f7;
  overflow-x: hidden;
}

.flex-center 
{
  display: flex;
  align-items: center;
}

.flex-ticks
{
  display: flex;
}

.h2 
{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.025em;  
  color: #000000;
  margin: 29px 0px;
}

h4 
{
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #191C1F;
}

.flex-column
{
  display: flex;
  flex-direction: column;
}
.input-group
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group input[type="number"]::-webkit-inner-spin-button,
.input-group input[type="number"]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/*********--- CARDS STYLE ---**********/
.card
{
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 2em;
}

.card img 
{
  transition: transform 0.3s ease;
}

.card img:hover 
{
  transform: scale(1.1);
}

.left-card 
{
  padding: 45px 40px;
  text-align: start;
  width: 100%;
}

.title-card 
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #191C1F;
}

.text-card
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.73);
}

.img-end
{
  text-align: end;
}

.card-white 
{
  background: white;
}

.card-white-b
{
  background: rgb(249 249 249);
}

.card-grey 
{
  background: #343C45;
}

.card-purple 
{
  background: #865AE2;
}

.card-blue 
{
  background: #3B7EF4;
}

.card-pink 
{
  background: #EE5B7A;
}

.card-black 
{
  background: #111113;
}

.card-orange 
{
  background: #F7A037;
}

.card-yellow 
{
  background: #F2C631;
}

.card-green 
{
  background: #64D249;
}

.card-green h3
{
  color: white
}
.card-green p
{
  color: white
}

.card-yellow h3
{
  color: white;
}
.card-yellow p
{
  color: white;
}

.card-orange h3
{
  color: white;
}
.card-orange p
{
  color: white;
}

.card-grey h3
{
  color: white;
}
.card-grey p
{
  color: white;
}
.card-purple h3
{
  color: white;
}
.card-purple p
{
  color: white;
}
.card-blue  h3
{
  color: white;
}
.card-blue  p
{
  color: white;
}
.card-pink  h3
{
  color: white;
}
.card-pink  p
{
  color: white;
}

.flex-end
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 40px 0px 40px;
}


/*********-------------------- NAVBAR -----------------**********/
nav 
{
  height: 80px;
  width: 100%;
  height: 70px;
  font-size: 14px;
  backdrop-filter: blur(16px);
  background-color: rgba(234, 237, 240, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  color: black;
  position: fixed;
  z-index: 999;
}

.nav 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0em 1em;
}

.logo 
{
  height: 42px;
  margin-right: 18px;
}

.monedas-mobile
{
  width: 100%;
}

button.btn-nav-nft 
{
  padding: 4px 8px;
  gap: 4px;
  width: 83.96px;
  height: 28px;
  left: calc(50% - 83.96px/2 + 295.33px);
  top: calc(50% - 28px/2 - 4428px);
  background: #191C1F;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: 600;
  font-family: Montserrat;
  cursor: pointer;
}

.lang-icon 
{
  width: 35px;
  margin-right: 10px;
}

.div-btn-lang
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks li 
{
  display: inline-block;
  margin: 0 5px;
}

.navlinks li a 
{
  padding: 0px 10px;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  color: #000;
  line-height: 20px;
}



.checkbtn 
{
  float: right;
  cursor: pointer;
  width: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#check 
{
  display: none;
}

.navlinks 
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(234 237 240);
  top: 70px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}

.navlinks li 
{
  display: block;
  margin: 30px 0;
  line-height: 30px;
}

#check:checked ~ ul 
{
  left: 0;
}

.desktop 
{
  display: none;
}


/*********-------------------- HERO -----------------**********/
.hero 
{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
}


.hero-content
{
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  text-align: center;
  width: 90%;
}

.hero-title 
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-bottom: 29px;
  font-size: 30px;
}

p.text-p
{
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.025em;
  color: #000000;
  font-size: 16px
}

.hover-button 
{
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 184px;
  height: 45px;
  background: #191C1F;
  border-radius: 30px;
  color: white;
  border: none;
  margin-top: 29px;
  transition: all 0.3s;
  font-weight: 600;
}

.button-text 
{
  position: relative;
  z-index: 2;
}


.hover-button:hover 
{
  left: 0;
  background: none;
  border: solid 1px black;
  color: black;
  transition: all 0.3s;
}


/*********-------------------- SERVICIOS -----------------**********/
.services
{
  text-align: center;
  margin: auto;
}

.services-header 
{
  width: 90%;
  margin: auto;
}

.text-services
{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.025em;
  color: #454545;
}

.services .img-services
{
  width: 220px;
}

.services .support 
{
  width: 200px;
  right: 0em;
}

.services .otc 
{
  height: 171px;
}

.services .phone 
{
  border-radius: 30px;
  margin-bottom: -4px;
}

.services .stakings 
{
  width: 252px;
  height: 100%;
}

.services .launchpad
{
  width: 225px;
  height: 100%;
}

.services .portfolio
{
  width: 244px;
  margin-right: 20px;
  height: 100%;
}

.services-cards 
{
  margin-top: 77px;
  padding: 0em 2em;
}


/*********-------------------- NFTS -----------------**********/
.section-nfts 
{
  text-align: center;
}

.nft-header
{
  padding: 5em 2em 2em 2em;
}

.container-nfts
{
  padding: 0em 2em;
}

.btn-purchase 
{
  width: 245px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
}

.info-btn 
{
  border: none;
  background: none;
  width: 39.85px;
  height: 38.26px;
  cursor: pointer;
}

.info-btn img 
{
  width: 100%;
}

.tarjeta-nft
{
  margin: auto;
}

.card-nft 
{
  width: 100%;
  height: 517px;
  perspective: 1000px;
  margin-bottom: 2em;
}

.front, .back 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
  padding: 32px;
}

.front 
{
  display: flex;
  flex-direction: column;
  transform: rotateY(0deg);
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.back 
{
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 30px;
  overflow: hidden;
}

.last-of-info 
{
  padding: 65px 40px;
  text-align: start;
}

.card-nft.flip .front 
{
  transform: rotateY(180deg);
}

.card-nft.flip .back 
{
  transform: rotateY(0deg);
}

input
{
  text-align: center;
  font-size: 18px;
}

input.cantidad 
{
  width: 43px;
  background: #f3f4f7;
  height: 32px;
  border-radius: 5px;
  border: 1.5px solid #000000e1;
  margin: 0em 0.1em;
  font-weight: 600;
}

input.precioTotal 
{
  width: 82px;
  background: #f3f4f7;
  height: 32px;
  border-radius: 5px;
  border: 1.5px solid #000000e1;
  font-weight: 600;
}

.sumar 
{
  margin-right: 17px;
  font-size: 25px;
  cursor: pointer;
}
.restar 
{
  font-size: 25px;
  cursor: pointer;
}

span.close-btn 
{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  cursor: pointer;
}

.close-btn:hover > img
{
  filter: invert(1);
  transition: all .1s;
}
.close-btn:hover 
{
  background: black;
  transition: all .1s;
}

.data-back 
{
  text-align: start;
  font-size: 21px;
  margin-top: 20px;
}

.card-img-back 
{
  margin: auto 0px 0px auto;
}
.back-img1 
{
  width: 218px;
}
.back-img2 
{
  width: 184px;
}
.back-img3 
{
  width: 196px;
}

.back-img1 > img 
{
  width: 100%;
}
.back-img2 > img 
{
  width: 100%;
}
.back-img3 > img 
{
  width: 100%;
}


/*********-------------------- TOKENOMICS -----------------**********/
.divs-tokenomics 
{
  padding: 0em 2em;
}

.tokenomics-header 
{
  padding: 5em 2em 2em;
  text-align: center;
}

.development-div 
{
  width: 100%;
  height: 556px;
  background-image: url('/img/Development.png');
  background-size: cover;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.toke-div 
{
  transition: transform 0.3s ease;
  margin-bottom: 2em;
}
.toke-div:hover 
{
  transform: scale(1.05);
}

.mark-h3 
{
  margin: 0px 0px auto auto;
}
.mark-h4 
{
  margin: auto auto 0px 0px !important;
  text-align: start ;
}

.h3-porcentage 
{
  text-align: start;
  color: white;
  padding: 0.5em;
  font-size: 36px;
}

.h4-name 
{
  text-align: end;
  margin: auto;
  color: white;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 0.5em;
  font-size: 30px;
  line-height: 28px;
}

.liquidity 
{
  width: 100%;
  height: 343px;
  background-image: url('/img/Liquidity.png');
  background-size: cover;
  border-radius: 30px;
}

.staking 
{
  width: 100%;
  height: 193px;
  background-image: url('/img/Staking-1.png');
  background-size: cover;
  border-radius: 30px;
}
.marketing 
{
  width: 100%;
  height: 210px;
  background-image: url('/img/Fondo_Marketing.png');
  background-size: cover;
  border-radius: 30px;
}
.advisor 
{
  width: 100%;
  height: 159px;
  background-image: url('/img/Advisors.png');
  background-size: cover;
  border-radius: 30px;
}
.team 
{
  width: 100%;
  height: 160px;
  background-image: url('/img/Team.png');
  background-size: cover;
  border-radius: 30px;
}
.legal 
{
  width: 100%;
  height: 427px;
  background-image: url('/img/Fondo_Legal.png');
  background-size: cover;
  border-radius: 30px;
}


/*********-------------------- ROADMAP -----------------**********/
.carousel 
{
  position: relative;
  overflow: hidden;
}

.roadmap-header
{
  margin-bottom: 77px;
  text-align: center;
  margin-top: 5em;
}

.cards 
{
  display: flex;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.card-slide 
{
  flex: 0 0 83%;
  width: 100%;
  padding: 40px 20px;
  text-align: start;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  height: 600px;
  box-sizing: border-box;
  margin: 0em 2em;
  align-items: center;
}

.title-roadmap
{
  margin-bottom: 29px;
} 

.card-slide ul 
{
  font-size: 22px;
  line-height: 37px;
  font-weight: 600;
}

.card-slide ul 
{
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  color: white;
}

.lista li 
{
  margin-bottom: .7em;
} 

.ticks 
{
  width: 20.01px;
  height: 20px;
  margin-right: 7px;
}

/* Estilos de las flechas */
.prev,
.next 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #777575af;
  color: #fff;
  border-radius: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.next > img  
{
  margin: auto;
  height: 100%;
}
.prev > img  
{
  margin: auto;
  height: 100%;
  transform: rotate(180deg);
}

.prev 
{
  left: 10px;
  display: none;
}
.next 
{
  right: 10px;
}


/*********-------------------- PARTNERS -----------------**********/
.partners-header 
{
  padding: 5em 2em 2em;
  text-align: center;
}

.logos-partners 
{
  margin: 2em 0em;
}

.partners-container 
{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  text-align: center !important;
}

.pd-right 
{
  padding-right: 25px;
}
.pd-left 
{
  padding-left: 25px;
}

img.wayops 
{
  width: 150px;
}
img.consultin
{
  width: 200px;
}
img.waynance 
{
  width: 200px;
}
img.metamask 
{
  width: 200px;
}
img.binance 
{
  width: 200px;
}

/*********-------------------- PRESS RELEASES -----------------**********/
.releases-section
{
  margin-bottom: 220px !important;
}

.releases-header
{
  padding: 5em 2em 2em;
  text-align: center;
}

.icon 
{
  margin-bottom: 2em;
}

.press-releases-card.flex 
{
  background: #FFFFFF;
  border-radius: 30px;
  padding: 2em 1em;
  text-align: center;
}

.icon > img
{
  width: 204px;
}

.catorce > img
{
  width: auto;
}
.veintiseis > img
{
  width: auto;
}
.veintinueve > img
{
  width: auto;
}

.text-start 
{
  text-align: start;
}

/*********-------------------- FOOTER -----------------**********/
.h3-footer 
{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid white;
  padding-bottom: .5px;
  width: max-content;
}

footer 
{
  background: black;
  color: white;
  padding: 80px 0px;
  box-sizing: border-box;
}

footer ul
{
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
}

h3 
{
  margin-bottom: 10px;
}

ul 
{
  list-style: none;
  padding: 0;
}

.social-icons 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li 
{
  margin-right: 7px;
}

.social-icons img 
{
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
}
.social-icons > img
{
  width: 100%;
}

@media (min-width: 600px) 
{
  .mobile 
  {
    display: none;
  }

  .desktop
  {
    display: block;
  }

  .flex 
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero::after 
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/hero.png');
    background-size: contain;
    background-position: center;
    opacity: 1;
    transition: opacity 0.6s, transform 0.6s;
    z-index: 0;
    background-repeat: no-repeat;
    margin-top: 70px;
    box-sizing: border-box;
  }

  .hero.is-scrolled::after 
  {
    will-change: transform, opacity;
    transform: scale(1.15);
    opacity: 0;
  }

  .wayops-div
  {
    text-align: end;
  }
  .consulting-div 
  {
    text-align: start;
  }

   /*********--- NAV ---**********/
   nav 
   {
     display: flex;
     justify-content: center;
   }
 
   .lang-icon 
   {
     margin-right: 0px;
   }
 
   .nav 
   {
     display: flex;
     width: 777px;
     justify-content: space-between;
     padding: 0em 0em !important;
   }
 
   .navlinks 
   {
     position: relative;
     margin: 0em;
     height: 100%;
     display: flex;
     align-items: center;
     background: none;
     left: auto;
     right: auto;
     top: auto;
     justify-content: flex-start;  
     width: auto;
   }
 
   .checkbtn
   {
     display: none;
   }

   .btn-nav-nft
   {
     margin-right: 20px;
   }

   /*********--- TOKENOMICS ---**********/
  .divs-tokenomics
  {
    display: flex;
    margin-top: 77px;
    padding: 0em;
  }
  
  .toke-div 
  {
    margin-bottom: 0em;
  }

  .tokenomics-header 
  {
    padding: 0em;
  }

  .development-div 
  {
    width: 305.2px;
    border-radius: 30px;
  }

  .liquidity 
  {
    width: 202px;
    margin-bottom: 20px;
  }

  .staking 
  {
    width: 202px;
  }

  .marketing 
  {
    width: 529px;
    margin-top: 20px;
  }

  .advisor 
  {
    width: 225px;
    margin-bottom: 20px;
  }

  .team 
  {
    width: 225px;
    margin-bottom: 20px;
  }

  .legal 
  {
    width: 225px;
  }

  .flex-right 
  {
    width: 100%;
    margin-left: 20px;
  }

  .roadmap-header
  {
    margin-top: 0em;
  }

}

@media (min-width: 993px) 
{

  .mobile 
  {
    display: none;
  }

  .lista li 
  {
     margin-bottom: 0em; 
  }

  /*********--- CARDS STYLE ---**********/
  .card
  {
    flex-direction: row !important;
    margin-bottom: 0px;
  }

  .card-slide 
  {
    flex: 0 0 100% !important;
    width: 100%;
    padding: 40px;  
    height: 428px;
    margin: 0em;
  }
  
  .card-slide ul 
  {
    font-size: 22px;
    line-height: 37px;
  }

  .title-card 
  {
    font-size: 32px;
  }

  .text-card 
  {
    font-size: 20px;
  }

  .card-big
  {
    width: 774px;
    height: 428px;
  }

  .card-small 
  {
    width: 377px;
    height: 517px;
  }

  .flex-cards 
  {
    display: flex;
    align-items: center;
  }

  .mg-top
  {
    margin-top: 20px;
  }
  .mg-right
  {
    margin-right: 20px;
  }

  .no-bottom 
  {
    margin-bottom: 0px !important;
  }

  .h2 
  {
    font-size: 55px;
    line-height: 65px;  
  }

  .left-card 
  {
    padding: 65px 40px 0px 40px;
    text-align: start;
    width: 100%;
  }


  /*********--- HERO ---**********/
  .hero-content
  {
    width: 590px;
  }

  .hero-title 
  {
    font-size: 63px;
    line-height: 65px;
    width: 100%;
  }

  p.text-p
  {
    font-size: 32px;
    line-height: 40px;  
  }

  /*********--- SERVICES ---**********/
  .section
  {
    width: 777px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
  }
  .services-header 
  {
    width: 100%;
  }
  .services-cards 
  {
    padding: 0em;
  }

  .services .img-services
  {
    width: 320px;
  }

  .img-card-div
  {
    margin: auto;
  }

  .services .portfolio
  {
    width: 344px;
  }

  /*********--- NFTs ---**********/
  .nft-header
  {
    padding: 0em;
  }

  .container-nfts
  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 77px;
    padding: 0em !important;
  }
  .card-nft 
  {
    width: 377px;
    margin-bottom: 0px;
  }

  /*********-------------------- PARTNERS -----------------**********/
  .partners-header 
  {
    margin-bottom: 77px;
    padding: 0em;
  }

  .logos-partners 
  {
    margin: 0em 0em;
  }
  
  .text-end 
  {
    text-align: end;
  }
  .width-half
  {
    width: 50%;
  }
  .width-30
  {
    width: 30%;
  }

  img.wayops 
  {
    width: 200px;
  }
  img.consultin
  {
    width: 260px;
  }
  img.waynance 
  {
    width: 230px;
  }
  img.metamask 
  {
    width: 340px;
  }
  img.binance 
  {
    width: 319px;
  }


  /*********-------------------- PRESS RELEASES -----------------**********/
  .partners-container .first 
  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .releases-header
  {
    margin-bottom: 77px;
    padding: 0px;
  }
  .partners-container .two
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-end;
    flex-direction: row;
  }
  .icon 
  {
    width: 33.3%;
    margin: 1.5em 0em;
    margin-bottom: 0em;
  }


  /*********--- FOOTER ---**********/
  footer .container 
  {
    display: flex;
    justify-content: space-between;
    width: 777px;
    margin: auto;
  }


 
}

